*{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: #047e80;   
 
}
footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: #047e80;
}

.container{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
}


.heading{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}


ul{
    display: grid;
    grid-template-columns: repeat(4,50px);
    grid-gap: 20px;
}

.social li{
    list-style: none;
    display: inline-block;
    height: 48px;
    width:48px;
    display: grid;
    align-content: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 50%;
    border: 1px solid #fff;
   
}


.logo1{
    font-size: 30px;
    border-radius: 50%;
    padding-top: 5px; 
    padding-bottom:5px;
    cursor: pointer;  
    color: white;
    background:blue;
  
}

  
.logo2{
    font-size: 30px;
    border-radius: 50%;
    padding-top: 5px; 
    padding-bottom:5px;
    cursor: pointer;
    color: white;
    background:lightseagreen;
  
}
  .logo3{
      font-size: 30px;
      border-radius: 50%;
      padding-top: 5px; 
      padding-bottom:5px;
      cursor: pointer;
      color: white;
      background:plum;
   
    }
.logo4{
        font-size: 30px;
        border-radius: 50%;
        padding-top: 5px; 
        padding-bottom:5px;
        cursor: pointer;
        color: white;
        background: seagreen;
       
    }

.title2{
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(4,100px);
    grid-gap: 10px;   
    color: white;
  
}




h2{
    font-weight: 100px;
}

h3{
    font-weight: 300;
}
h4{
    font-size: 14px;
    font-weight: lighter;
}

a{
    color: orange;
}
.btn2{
    padding: 10px 10px;
    width: 120px;
    border: 1px solid lightsalmon;
    background-color:lightsalmon;
    margin: 1px;
    font-size: 15px;
    color:black;
}



.formdata input{
    height: 100%;
  border: none;
  background-color:transparent;
  border-bottom: 1px solid white;
   outline: 0;
}    

input::placeholder{
    color: white;
    font-weight: 100;
    font-size: 13px;
}



@media all and(max-width:900px) {
    footer{
        padding: 40px;
    }
    footer .container{
        width: 100%;
        display:grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 20px;
    }
}



@media (max-width:800px) {
    footer{
        padding: 40px;
    }
    footer .container{
        width: 100%;
        display:grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 20px;
    }

    p{
        font-size: 10px;
        font-weight: lighter;
        
    }
    
.formdata input{
    padding: 10px;
    width: 40%;
}


.title2{
    display: flex;
    flex-direction: column;
justify-content: space-between;

    }
    
    .btn2{
        padding: 8px 8px;
        width: 80px;
        border: 1px solid lightsalmon;
        background-color:lightsalmon;
        margin: 20px;
        font-size: 15px;
        color:black;
    }
    
    h3{
        font-size: 12px;
        font-weight:lighter;
        width: 500px;
    }



}


